/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body{
	max-width: 100%;
	margin-left: 12%;
	margin-right: 12%;
}

.navigation{
	/* border: 1px solid red; */
    display: flex;
    padding-top: 2%;
}

.navigation a {
    /* border: 1px solid green; */
	text-decoration: none;
	color: grey;
	width:15%;
}

.container{
	/* border: solid 5px rebeccapurple; */
}

.together{
	display:flex;
	align-items: center;
	justify-content: space-around;
}

/* when do you need to use display:flex 
on individual items? */

.title h1{
	/* border: solid 6px yellowgreen; */
	font-size: 550%;
	text-align: center;
	margin-right: -10%;
}

/* how do I moved title over to the right more? */
/* why is title not going any bigger? */

div.cImage{
	/* border: solid 4px pink; */
	/* display: flex; */
	/* align-self: flex-end;
	flex-direction: column; */
	padding-top: 3%;
	margin-right: -8%;
	/* padding-left: 20%; */
}

.move{
    margin: -5% 65% 8% 20%;
    font-size: 130%;
    border: solid 1px black;
}


.start{
    text-align: center;
    padding: 2% 4%;
}

/* could I have used more flex above with move and 
start? */


.top-content{
	border-top: solid 1px black;
	display: flex;
	justify-content: space-between;
	padding-top: 2%;
}

.first{
	width: 40%;
}

.second{
	width: 40%;
}

.services-header-img,.middle-img{
	/* border: solid 4px burlywood; */
	padding-top: 2%;
	padding-bottom: 1%;
	width: 100%;
}

.bottom-content{
	/* border: solid 4px greenyellow; */
	display: flex;
	padding-top: 2%;
	padding-bottom: 2%;
	justify-content: space-between;
}

.third{
	width: 30%;
}

.fourth{
	width: 30%;
}

.fifth{
	width: 30%;
}

.contact-section{
	border-top: solid 1px black;
	padding-top: 1%;
}

.copyright{
	/* border: solid 4px blueviolet; */
	text-align: center;
}

/* media queries at bottom of page */

/* @media (max-width: 1052){
    .move{
        margin: -5% 65% 8% 15%;
    }
} */

@media (max-width: 800px){
         .navigation{
	        /* border: 1px solid red; */
            display: flex;
            flex-wrap: wrap;
        }
        .navigation a{
            /* border: 1px solid green; */
            color: grey;
            width:16%;
            display: flex; 
            justify-content: flex-end;
        }
        .navigation div{
            width: 100%;
            order: -1;
            margin: 6% 40%;
            align-content: center;
            /* flex: 1 0 100%; */
        }
        .together .cImage{
            display:none;
        }
        .title h1{
            font-size: 400%;
            margin-top: 20%;
            margin-bottom: 8%;
        }

        /* Is there a better way to align this? */

        .move{
            margin: 1% 35% 10% 39%;
            font-size: 130%;
            border: solid 1px black;
        }
        .top-content{
            padding-top: 5%;
            padding-bottom: 5%;
            width: 105%;
            /* margin-right: -10%; */
        }

        .middle-img{
            width: 105%;
        }

        .bottom-content{
            padding-top: 5%;
            padding-bottom: 5%;
            width: 105%;
            /* margin-right: -10%; */
        }
        .contact-section{
            padding-top: 4%;
        }
        footer{
            margin: 10% 0;
        }
}

@media (max-width: 500px){
    .navigation{
        /* border: 1px solid red; */
        display: flex;
        flex-wrap: wrap;
    }
    .navigation a{
        border: 1px solid grey;
        color: grey;
        width:100%;
        justify-content: center;
        margin: 0 25% 0 -25%;
        padding: 4% 75%; 
    }
    .navigation div{
        /* why do we put width? */
        width: 100%;
        order: -1;
        margin: 6% 28%;
        align-content: center;
        /* what is this? flex: 1 0 100%; */
    }
    .together .cImage{
        display:none;
    }
    .title h1{
        font-size: 400%;
        margin-top: 20%;
        margin-bottom: 8%;
    }

    /* Is there a better way to align this? */

    .move{
        margin: 2% 30% 20% 38%;
        font-size: 100%;
        border: solid 1px black;
    }

    .top-content{
        display: flex;
        flex-direction: column;
    }
    .first{
        width: 100%;
        padding-top: 10%;
    }
    
    .second{
        width: 100%;
        padding-top: 10%;
    }
    .middle-img{
        width: 100%;
        /* margin-left: 1%; */
        margin: 5% 0;
    }
    .bottom-content{
        display: flex;
        flex-direction: column;
    }

    .third{
        width: 100%;
    }
    
    .fourth{
        width: 100%;
        padding-top: 10%;
    }
    .fifth{
        width: 100%;
        padding-top: 10%;
        padding-bottom: 8%;
    }
    .contact-section{
        padding-top: 8%;
    }
    footer{
        margin: 10% 0;
    }

    
}